* {
  padding: 0;
  margin: 0;
  font-family: "montserrat", sans-serif;
  list-style: none;
  box-sizing: border-box;
  max-height: 3500px;
}
.header p,
h1 {
  color: #fff;
}
body {
  background-color: #2f2fa2;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}
.my_name {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.my_name h1 {
  font-size: 70px;
}
.my_name p {
  color: #f64c72;
  font-weight: 600;
  font-size: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.round {
  width: auto;
  height: 120%;
  margin: 0 auto;
  position: relative;
  bottom: 80px;
}
.my_photo {
  box-shadow: 0 0 15px #0f103b;
  border-radius: 7%;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.white_box {
  box-shadow: 0 0 15px #0f103b;
  border-radius: 7%;
  margin: 50px auto;
  width: 700px;
  height: 600px;
  background-color: #fff;
  z-index: 5;
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.midle {
  bottom: 400px;
  background-color: #f0f0f0;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  position: relative;
  padding-top: 350px;
  padding-left: 25px;
  width: 100%;
  height: 3000px;
  z-index: 1;
}
.midle h1 {
  color: #f64c72;
  font-size: 45px;
  font-weight: 800;
}

.white_box h2 {
  color: #f64c72;
  font-size: 50px;
  font-weight: 800;
}
.white_box p {
  color: rgb(54, 54, 54);
  margin-top: 20px;
  line-height: 35px;
  font-size: 20px;
  margin-left: 15px;
}
.right-arrow {
  display: flex;
  align-items: center;
}
.left-arrow {
  display: flex;
  align-items: center;
}
.white_box_content {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  width: 400px;
  text-align: left;
}
.nmb {
  font-size: 15px;
  color: #808080;
  font-weight: 200;
  position: absolute;
  bottom: 50px;
}
.white_box li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
}
.white_box li p {
  line-height: 32px;
}
.achievements {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin-top: 25px;
}
.achievements img {
  box-shadow: 0 0 15px #ffffff;
}
.achievements div {
  margin-left: 30px;
}
.achievements h2 {
  font-size: 30px;
  color: #2f2fa2;
  font-weight: 600;
}
.achievements p {
  color: rgb(54, 54, 54);
  margin-top: 20px;
  line-height: 15px;
  font-size: 18px;
  margin-left: 15px;
}
.it-diplomas-img {
  margin-top: 15px;
  height: 450px;
  display: flex;
}
.languages-img {
  margin-top: 15px;
  height: 450px;
  display: flex;
  column-gap: 30px;
}
.arts-img {
  height: 800px;
}
.arts-img img {
  margin-top: 15px;
  max-height: 450px;
}
.siski {
  margin-left: 445px;
}
@media screen and (max-width: 1150px) {
  .my_photo {
    display: none;
  }
  .achievements div {
    margin-left: 15px;
  }
  .it-diplomas-img {
    margin-top: 15px;
    height: 350px;
    display: flex;
  }
  .languages-img {
    margin-top: 15px;
    height: 350px;
    display: flex;
    column-gap: 30px;
  }
  .arts-img {
    height: 500px;
  }
  .arts-img img {
    margin-top: 15px;
    max-height: 350px;
  }
  .siski {
    margin-left: 0;
  }
  .midle {
    height: 2500px;
  }
  * {
    max-height: 3000px;
  }
}
@media screen and (max-width: 991px) {
  .my_name {
    text-align: center;
  }
  .it-diplomas-img {
    margin-top: 15px;
    height: 250px;
    display: flex;
  }
  .languages-img {
    margin-top: 15px;
    height: 250px;
    display: flex;
    column-gap: 30px;
  }
  .arts-img img {
    margin-top: 15px;
    max-height: 200px;
  }
  .midle {
    height: 2000px;
  }
  * {
    max-height: 2300px;
  }
}
@media screen and (max-width: 767px) {
  .white_box {
    width: 400px;
    height: 300px;
  }
  .white_box h2 {
    color: #f64c72;
    font-size: 25px;
    font-weight: 800;
  }
  .white_box p {
    color: rgb(54, 54, 54);
    margin-top: 5px;
    line-height: 20px;
    font-size: 12px;
    margin-left: 15px;
  }
  .white_box_content {
    margin-top: -30px;
    row-gap: 10px;
    width: 400px;
  }
  .nmb {
    font-size: 10px;
  }
  .white_box li {
    margin-left: 1em;
  }
  .white_box li p {
    line-height: 15px;
  }
  .achievements h2 {
    font-size: 25px;
    color: #2f2fa2;
    font-weight: 600;
  }
  .achievements p {
    color: rgb(54, 54, 54);
    margin-top: 20px;
    line-height: 15px;
    font-size: 12px;
    margin-left: 15px;
  }
  .midle h1 {
    color: #f64c72;
    font-size: 30px;
    font-weight: 800;
  }
  .it-diplomas-img {
    margin-top: 15px;
    height: 200px;
    display: flex;
  }
  .languages-img {
    margin-top: 15px;
    height: 200px;
    display: flex;
    column-gap: 30px;
  }
  .arts-img img {
    margin-top: 15px;
    max-height: 150px;
  }
  .midle {
    bottom: 100px;
    background-color: #f0f0f0;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    padding-top: 150px;
    padding-left: 25px;
    width: 100%;
    height: 1500px;
    z-index: 1;
  }
}
